/* Set box-sizing to border-box for all elements */
html {
  box-sizing: border-box;
}
/* Play nicely with other components */
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  overflow: auto;
  font-family: sans-serif;  
  background-color: white;
}

.logo{
  width: 45px;
  height: 45px;
  float: left;
  margin: 10px 10px;
}

h1 {
  font-size: 30px;
  float: left;
}

a{
  text-decoration: none;
  color: #2F4F4F;
}

.navigationheader{
  margin-top: 40px;
  margin-right: 10px;
  padding: 10px;
  float: right;
}

.navigationlink {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;  
  text-decoration: none;
  margin-left: 1em;
}

.teaser{
  font: 30px bold;
  font-family: sans-serif;
  text-align: center;
  color: #2F4F4F;
  padding: 20px 0;
}

.matchprocess{
    display: block;
    margin: 0 auto;
    padding-bottom: 100px;
}

.vision{
  padding: 100px 100px;
  font-family: sans-serif;
  font-size: 18px;
  border-bottom: 15px solid #F5F5F5;
  border-top: 15px solid #F5F5F5;
}

.wrapper{
  overflow: auto;
  background-image: url("images/kind.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  padding: 200px 0;
}

h2{
  font-size: bold;
  font-size: 30px;
}

.lowerp {
  padding: 0 30px 0 0;
  font-size: 22px;
}

.floatsection{
  width: 50%;
  float: left;
  font-family: sans-serif;
  letter-spacing: 1px;  
  padding: 0 50px 0 50px;
}

.buttonfloatsection {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #C6C6C6;
  border: none;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
}

.socialimpact{
  font: 30px bold;
  font-family: sans-serif;
  padding: 100px 100px;
  text-align: center;
  color: #2F4F4F;
  border-bottom: 15px solid #F5F5F5;
  border-top: 15px solid #F5F5F5;
}

.carousel{
  padding: 200px;
}

.carousel_example{
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

footer{  
  overflow: auto;
  font-size: 18px;
  background-color: white;
  border-top: 15px solid #F5F5F5;
}

h4{
  float: left;
}

.navigationend{
  padding: 10px;
  float: right;
}

.navigationfooter {
  float: left;
  display: inline;
  font-family: sans-serif;  
  font-size: 14px;
  letter-spacing: 1px; 
  margin-left: 1em;
  margin-right: 10px;
}

.socialmedia{
  display: inline;
  clear: both;
}

