/* Set box-sizing to border-box for all elements */
html {
  box-sizing: border-box;
}
/* Play nicely with other components */
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: sans-serif;  
}

header {
  overflow: auto; 
  font-family: sans-serif;  
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Apply the same rules to both header and footer */

header a,
footer a {
  text-decoration: none;
  color: #2F4F4F;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

/*hamburger menu*/

.navigationheader{
  margin: 20px 150px 0 0;
}

.menutoggler {
  float: left;
  position: fixed;
  font-size: 18px;
  padding: 0 10px 10px 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

#resize{
  width: 50px;
  height: auto;
}

.mainnavigation {
  display: flex; 
  justify-content: space-between;
  padding: 0 130px; 
  background-color: white;
}

.navigationlink {
  font-size: 18px;
  letter-spacing: 1px;  
  text-decoration: none;
  padding: 10px 10px;
  list-style-type: none;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .navigationlink {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .navigationlink {
    font-size: 10px;
  }
  .mainnavigation{
    padding: 0;
    padding-left: 100px;
  }
}

@media screen and (max-width: 600px) {
  .mainnavigation{
    padding-left: 70px;
  }
}

/* main part */

.wrapper{
  overflow: auto;
  background-image: url("../images/children50.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  color: #2F4F4F;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2{
  font-weight: bold;
  font-size: 34px;
}

.lowerp {
  padding: 0 30px 0 0;
  font-size: 26px;
}

.floatsection{
  width: 45%;
  margin: 10px 20px;
  float: left;
  letter-spacing: 1px;  
  padding: 0 5%;
  border: outset;
  border-radius: 25px;
}

.findbutton{
  text-decoration: none;
  font-size: 18px;
  color: #2F4F4F;
  font-weight: bold;
}

.box{
  width: 80%;
  font-size: 16px;
  padding: 5px;
}

.buttonfloatsection{
  padding-bottom: 20px;
}

.socialimpact{
  font-size: bold;
  font-size: 32px;
  /*padding: 100px 100px;*/
  text-align: center;
  color: #2F4F4F;
}

@media screen and (max-width: 1000px) {
  .floatsection {
    width: 100%;
  }
  h2 {
    font-size: 22px;
  }
  .lowerp {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper{
    padding: 100px 0;
  }
}

/* footer */

footer{  
  overflow: auto;
  font-size: 18px;
  background-color: white;
  border-top: 15px solid #F5F5F5;
}

h4{
  float: left;
}

.navigationend{
  padding: 10px;
  float: right;
}

.navigationfooter {
  float: left;
  display: inline;
  font-size: 14px;
  letter-spacing: 1px; 
  margin-left: 1em;
  margin-right: 10px;
}

#logo{
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 10px 0 20px;
}

@media screen and (max-width: 1000px) {
  .navigationfooter {
    display: none;
  }
}
