/* Set box-sizing to border-box for all elements */
html {
  box-sizing: border-box;
}
/* Play nicely with other components */
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: sans-serif;  
}

header {
  overflow: auto; 
  font-family: sans-serif;  
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Apply the same rules to both header and footer */

header a,
footer a {
  text-decoration: none;
  color: #2F4F4F;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

/*hamburger menu*/

.navigationheader{
  margin: 20px 150px 0 0;
}

.menutoggler {
  float: left;
  position: fixed;
  font-size: 18px;
  padding: 0 10px 10px 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

#resize{
  width: 50px;
  height: auto;
}

.mainnavigation {
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 130px; 
}

.navigationlink {
  font-size: 18px;
  letter-spacing: 1px;  
  text-decoration: none;
  padding: 10px 10px;
  list-style-type: none;
  text-align: center;
}

@media screen and (max-width: 1290px) {
  .navigationlink {
    font-size: 14px;
  }
}

@media screen and (max-width: 1230px) {
  .navigationlink {
    width: 100%
  }
}

@media screen and (max-width: 630px) {
  .mainnavigation {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  ul {
    /*display: none;*/
    position: fixed;
    top: 35px;
    width: 50%
  }
}

/*main section*/

.about{
  height: 500px;
  height: 100vh;
}

#about_picture{
  padding-top: 150px;
}

@media screen and (max-width: 630px) {
  ul {
    width: 50%;
  }
}

/* footer */

footer{  
  overflow: auto;
  font-size: 18px;
  background-color: white;
  border-top: 15px solid #F5F5F5;
}

h4{
  float: left;
}

.navigationend{
  padding: 10px;
  float: right;
}

.navigationfooter {
  float: left;
  display: inline;
  font-size: 14px;
  letter-spacing: 1px; 
  margin-left: 1em;
  margin-right: 10px;
}

#logo{
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 10px 0 20px;
}

@media screen and (max-width: 1000px) {
  .navigationfooter {
    display: none;
  }
}
