
/* Set box-sizing to border-box for all elements */
html {
  box-sizing: border-box;
}
/* Play nicely with other components */
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: sans-serif;
}

/* navigation and header */

header {
  overflow: auto; 
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#logo{
  width: 45px;
  height: 45px;
  float: left;
  margin: 10px 10px;
}

header h1 {
  margin: 20px 0;
  font-size: 32px;
  float: left;
}

/* Apply the same rules to both header and footer */
header a,
footer a {
  text-decoration: none;
  color: #2F4F4F;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

.mainnavigation {
  margin: 15px 0;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigationheader{
  margin: 20px 20px 20px 0;
  padding: 0;
  float: right;
}

.navigationlink {
  font-size: 18px;
  letter-spacing: 1px;  
  text-decoration: none;
  margin-left: 1em;
  list-style-type: none;
}

#menu_toggler {
float: right;
}

@media screen and (max-width: 800px) {
  #match4action {
    font-size: 20px;
  }
}

@media screen and (max-width: 980px) {
  .mainnavigation {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .mainnavigation {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #menu_toggler {
    display: none;
  }
}

/* main text w background pic */

.ourvision{
  padding: 150px 50px 100px 50px;
  font-size: 20px;
  letter-spacing: 1px;  
  color: #2F4F4F;
}

#claim{
  font-size: 30px;
  font-weight: bold; 
  text-align: center;
  padding-top: 10%;
  color: #2F4F4F;
}

@media screen and (max-width: 1000px) {
  .ourvision {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  #claim {
    font-size: 20px;
  }
}
/* footer */

footer{  
  overflow: auto;
  font-size: 18px;
  background-color: white;
  border-top: 15px solid #F5F5F5;
}

h4{
  float: left;
}

.navigationend{
  padding: 10px;
  float: right;
}

.navigationfooter {
  float: left;
  display: inline;
  font-size: 14px;
  letter-spacing: 1px; 
  margin-left: 1em;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .navigationfooter {
    display: none;
  }
}
